---
---

@font-face {
  font-family: 'IM Fell Great Primer';
  font-style: normal;
  font-weight: 400;
  src: local('IM FELL Great Primer Roman'), local('IM_FELL_Great_Primer_Roman'), url(//themes.googleusercontent.com/licensed/font?kit=AL8ALGNthei20f9Cu3e93gHGIzAUbVxY7lpe7Zy4XGNfcHS2kLbsDWwNkOtdnMa-) format('woff');
}


/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #46466B;
  font: 13.34px 'proxima-nova',Proxima Nova,'Helvetica Neue',Helvetica,sans-serif;
  font-size: small;
  text-align: center;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { font-family: 'IM Fell Great Primer'; font-size: 34px; margin: 0px 0 30px; height: 25px; }
h1 a { color: black; text-decoration: none; position: relative; display: block; }
h1 i { display: inline-block; position: absolute; margin-left: -5px; }
h1 span { position: absolute; display: block; top: 5px; left: 32px;}

p { margin: 1em 0; }

a         { color: #16A085; }
a:hover   { xcolor: #000; }
a:visited { xcolor: #a0a; }

.pageNotFound {
  margin: 3em 0 2em 0;
}

.intro a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #B3B3B3;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  max-width: 600px;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
  background: white;
  padding: 30px 40px 40px 40px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 1);
-moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 1);
box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 1);
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

img.alignleft {
  float: left;
  padding: 1em 2em 1em 0;
}

img.alignright {
  float: right;
  padding: 1em 0 1em 2em;
}

.meta {
  color: #aaa;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
  overflow: auto;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post blockquote {
  border-left: 3px solid #46466B;
  padding-left: 5px;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}


.links {
  list-style: none;
  padding: 10px 0 10px 0;
}

.links li {
  float: right;
  padding-left: 10px;
}

.links li a {
  color: black;
  text-decoration: none;
}



@font-face {
  font-family: 'crweb';
  src:url('fonts/crweb.eot?vqmu3w');
  src:url('fonts/crweb.eot?#iefixvqmu3w') format('embedded-opentype'),
    url('fonts/crweb.woff?vqmu3w') format('woff'),
    url('fonts/crweb.ttf?vqmu3w') format('truetype'),
    url('fonts/crweb.svg?vqmu3w#crweb') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="cr-"], [class*=" cr-"] {
  font-family: 'crweb';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cr-twitter:before {
  content: "\f099";
}
.cr-rss:before {
  content: "\f09e";
}
.cr-github:before {
  content: "\f113";
}
.cr-rocket:before {
  content: "\f135";
}
.cr-archive:before {
  content: "\f187";
}




@media only screen and (max-width: 767px) {
  .site { text-align: left; padding: 1.25em; margin-top: 1em; }

  h1 { font-size: 1.5em; margin: 0px 0 10px;}
  h1 i { margin-left: 0px; }
  h1 span { top: 0px; left: 1.2em;}

  .posts li {
    line-height: 1em;
    margin-bottom: 10px;
  }
  .posts a {
    display: block;
    line-height: 1.25em;
  }

  .intro {
    font-size: 0.95em;
    line-height: 1.4em;
  }

  .links {
    font-size: 90%;

    li {
      padding-left: 5px;
    }
  }
}
